body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}



.scroll-container {
    width: 400px;
    height: 300px;
    overflow: auto;
    border: 1px solid #000;
    background-color: white;
}

.scroll-content {
    padding: 50px; /* Adjust padding as needed */
    text-align: center;
    font-family: monospace;
}


.samantha-one {
    font-family: monospace;
    font-size: 13px;
    color: rgb(255, 159, 193);
    animation: fadeIn 3s ease-in-out forwards;
    margin-top: 30%;
    margin-bottom: 50%;
}


.samantha {
    font-family: monospace;
    font-size: 13px;
    color: rgb(255, 159, 193);
    animation: fadeIn 3s ease-in-out forwards;
    margin-top: 20%;
    margin-left: 30%;
}


.theodore {
    font-family: monospace;
    font-size: 13px;
    color: rgb(230, 0, 0);
    animation: fadeIn 3s ease-in-out forwards;
    margin-top: 20%;
    margin-right: 30%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.end {
    margin-top: 20%;
    font-family: monospace;
    animation: fadeIn 7s ease-in-out forwards;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.end:hover{
    color: rgb(147, 147, 147);
}